.dropdown {
  margin-left: 1em;
}
.row {
  margin-top: 2em;
}
.subject-list {
  border: black solid 2px;
  background-color: #fff0e6;
}
.subject {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  border: black solid 2px;
}
img {
  height: 70px;
  width: 70px;
}
span {
  margin-left: 1em;
  margin-right: 25em;
}
button {
  background-color: #662200;
  color: blanchedalmond;
}
.mas {
  font-size: 20px;
}
