<nav class="navbar navbar-expand-lg navbar-light static-top" id="navbar">
  <a class="nav-link nombre-perfil navbar-brand" href="/mi-perfil" tabindex="-1" aria-disabled="true">{{this.activeUser.username}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-elements justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/index">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mis-discusiones">Mis discusiones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mis-intereses">Mis intereses</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/lista-resenas">Reseñas</a>
        </li>
        <li class="nav-item" *ngIf="this.activeUser.permisos=='admin'">
          <a class="nav-link active " aria-current="page" href="/user-list">Lista de usuarios</a>
        </li>
    </ul>
    <ul>    
      <ng-container *ngIf="!this.activeUser.username" class="">
        <li class="nav-item">
          <a class="nav-link" href="login">Iniciar sesion</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="register">Registrarse</a>
        </li>
      </ng-container>
      <ng-container *ngIf="this.activeUser.username">
        <li class="nav-item">
          <button class=" btn" (click)="logout()">Cerrar sesion</button>
        </li>
      </ng-container>
    </ul>
  </div>
  
</nav>

