.tList {
  border: black solid 2px;
  padding: 0.6em;
  background-color: #edffc4;
}
img {
  width: 100px;
  height: 100px;
}
.me-interesa {
  background-color: #ff9933;
}
.data {
  margin-left: 1rem;
}
