.tList {
  border: black solid 2px;
  padding: 4px;
}
img {
  width: 100px;
  height: 100px;
  padding-right: 4px;
}
.me-interesa {
  background-color: #ff9933;
}
button {
  background-color: #662200;
  color: blanchedalmond;
  margin-left: 3em;
  margin-bottom: 1em;
}
