<div class="container background">
    <ng-container *ngIf="">

    </ng-container>
    <button class="btn mt-3" routerLink="/agregar-discusion" >Añadir discusión</button>
    <ng-container *ngFor="let discusion of Discusion; let i = index">
        <div class="row tList">
            <div class="col-10 d-inline-flex title">
                <div>
                <img src="https://images.unsplash.com/photo-1612625365859-0721ffb8f7e6?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDN8cVBZc0R6dkpPWWN8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                </div>
                <div>
                    <h4 class="data">{{discusion.titulo}}</h4>
                    <span class="data">Autor: <b>{{discusion.autor}}</b> </span>
                    <br>
                    
                        <span class="data">Etiquetas de interés: 
                             <ng-container *ngFor="let interes of discusion.intereses"> <b>{{interes}};  </b>
                             </ng-container> 
                         </span>
                    
                </div>
            </div>
            <div class="col-2 justify-content-end subject-body">
                    <button class="btn me-interesa mr-5 mt-2 mb-4" [routerLink]="['/', discusion._id]">Ver más</button>
                    <br>
                    <span>Creada el: {{getFecha(discusion.fecha)}}</span>            
            </div>
            
        </div>
    </ng-container>
    
    
</div>
