<ng-container *ngIf="this.activeUser._id">
<div class="container background">
    <ng-container *ngIf="">

    </ng-container>
    <button class="btn mt-3" routerLink="/agregar-discusion" >Añadir discusión</button>
    <ng-container *ngFor="let discusion of Discusion; let i = index">
        <div class="row tList">
            <div class="col-lg-10 col-8 d-inline-flex title">
                <div>
                <img [attr.src]="discusion.image" alt="">
                </div>
                <div>
                    <h4 class="data">{{discusion.titulo}}</h4>
                    <span class="data">Autor: <b>{{discusion.autor}}</b> </span>
                    <br>
                    
                        <span class="data">Etiquetas de interés: 
                             <ng-container *ngFor="let interes of discusion.intereses"> <b>{{interes}};  </b>
                             </ng-container> 
                         </span>
                    
                </div>
            </div>
            <div class="col-lg-2 col-4 justify-content-end subject-body">
                    <button class="btn me-interesa mr-5 mt-2 mb-4" [routerLink]="['/', discusion._id]">Ver más</button>
                    <br>
                    <span>Creada el: {{getFecha(discusion.fecha)}}</span>            
            </div>
            
        </div>
    </ng-container>
    
    
</div>
</ng-container>
<ng-container *ngIf="!this.activeUser._id">
    <h1 mt-6 mb-6>Usuario no registrado</h1>
    </ng-container>