<div class="container">
    
    <div class="row data">
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
            <img src="https://images.unsplash.com/photo-1538137518296-2b8f90394f04?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDR8NnNNVmpUTFNrZVF8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
        </div>
        <div class="col-lg-8">
            <h5> Nombre: ING9004-14</h5>
            <h5>Descripción: </h5>
            <h5>Profesor(a) a cargo:</h5>
            <h5>Puntuación: </h5>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="container input-comentario">
        <form action="">
            <textarea name="resena" id="" cols="30" rows="10" placeholder="Escribir reseña..."> </textarea>
            <button class="btn btn-success">Enviar comentario</button>
        </form>
        
    </div>
    <div id="comment" class="row">
        <div class="col-lg-3">
            <img src="https://images.unsplash.com/photo-1631096207334-5a250b246a0c?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDIxfDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
            <span>User2314</span>
        </div>
        <div class="col-lg-9">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et blanditiis, eius suscipit odio qui molestias laborum facilis impedit maiores accusamus omnis? Deserunt unde eum quidem nihil obcaecati culpa quo error?</p>
        </div>
    </div>
</div>
