<div class="container">
    <div class="profile row">
        <div class="col-lg-3 col-12">
            <img id="imagen-perfil" src="https://images.unsplash.com/photo-1593642532781-03e79bf5bec2?ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
        </div>
        <div class="col-lg-7 col-12">
            <h3 class="mt-5 username">User2231</h3>
            <h3><i>user.algo@gmail.com</i></h3>
            <h3>Nombres y apellidos (opcional)</h3>
        </div>
        <div class="col-lg-2 col-12">
            <button class="btn">Modificar</button>
        </div>
    </div>
    <div class="row profile-data">
        <div class="col-lg-6 col-12">
            <div class="data">
                <h4>Discusiones creadas: <b class="number">0</b></h4>
                <h4>Reputación: <b class="number">0</b></h4>
                <h4>Participación en la plataforma: <b class="number">0</b></h4>
                <h4 class="mt-5">Logros: </h4>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="data emblema">
                <h4>Tu emblema:</h4>
            </div>
            <div class="emblema-icon">
                
            </div>
        </div>
    </div>
</div>