<div class="container mis-intereses">
    <form class="d-flex search">
        <input class="form-control me-2 search-bar" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <button class="btn btn-success mt-3" routerLink="/nuevo-interes">Agregar Nuevo tema de interés</button>
    <ng-container *ngFor="let interes of this.activeUser.intereses">
      <div class="row cards mt-2">
        <div class="col-lg-4 col-md-12">
            <div class="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1630957437294-36e27ba9db1c?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw2NHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{interes.nombre}}</h5>
                  <p class="card-text">{{interes.descripcion}}</p>
                  <button class="btn" (click)="onClick(interes._id)">Eliminar</button>
                </div>
                
              </div>
        </div>
      </div>
    </ng-container>
</div> 