form {
  margin-top: 5em;
  background-color: #fff0e6;
  border: black solid 2px;
  padding: 1em;
}
label {
  color: black;
  font-size: 15px;
}
#contenido {
  margin-bottom: 1em;
}
button {
  background-color: #662200;
  color: blanchedalmond;
  margin-top: 1em;
}
textarea {
  height: 200px;
}
